.a{
background-color:cornflowerblue;
	border:inset 3px black;
	float:center;
	border-inset:15px;
	width:80px;
	height:50px;
	
	
}
#tex{
border:inset 3px black;
width:360px;
height:60px;
}

